<ul class="list-group">
  <li routerLink="/cars" [class]="getAllBrandClass()">
    Tüm Markalar
  </li>

  <li (click)="setCurrentBrand(brand)" routerLink="cars/brand/{{brand.brandId}}" *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)">

    {{brand.brandName}}

  </li>
</ul>

<br>
<select class="form-select" id="brand_dropdown">

  <option>
    Tüm Markalar
  </option>

  <option *ngFor="let brand of brands" (click)="setCurrentBrand(brand)" routerLink="cars/brand/{{brand.brandId}}"
    [class]="getCurrentBrandClass(brand)" value="1">{{brand.brandName}}</option>

</select>

<br>