<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Araba Adı</th>
            <th>Marka Adı</th>
            <th>Renk Adı</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyat</th>
            <th>Açıklama</th>
        </tr>
    </thead>

    <tr *ngFor="let carDetail of carDetails">
        <td>{{carDetail.carId}}</td>
        <td>{{carDetail.carName}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td>{{carDetail.dailyPrice}}</td>
        <td>{{carDetail.description}}</td>
    </tr>
</table> -->
<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Araba Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
        placeholder="arama ifadesi giriniz">
</div>

<div *ngIf="filterText.length>2" class="alert alert-primary">
    {{filterText}} aradınız.
</div>

<table *ngIf="dataLoaded==true" class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Araba Adı</th>
            <th>Marka Adı</th>
            <th>Renk Adı</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyat</th>
            <th>Açıklama</th>
        </tr>
    </thead>

    <tr *ngFor="let carDetail of carDetails"> <!--| filterPipe:filterText-->
        <td>{{carDetail.carId}}</td>
        <td>{{carDetail.carName}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td>{{carDetail.dailyPrice}}</td>
        <td>{{carDetail.description}}</td>
    </tr>
    
</table>
